
/* Font Colours
----------------------------------------------------------------------------------------------------------------- */
$body-color: #060606;
$summary-grey: #131313;
$bg-grey: #060606;
$bg-blue: #005a8b;
$popup-blue: #0f204b;

/* Typefaces
----------------------------------------------------------------------------------------------------------------- */
$sans: Helvetica, Arial, Sans-Serif;